{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h3 class="border-bottom mb-4">Choose New Password</h3>
        <div class="container">
            <div class="row">
                <div class="column">
                    <form method = "POST">
                        {% csrf_token %}
                        <fieldset class="form-row">
                            {{ form|crispy }}
                        </fieldset>
                        <br>
                        <div class="form-row">
                            <button class="btn btn-outline-info" type="submit">Set new Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}